@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: #000000;
    --dark-blue: #050315;
    --color-3: #de0bd7;
    --color-4: #b5b5b5;
    --color-5: #f2f2f2;
}

#root {
    background-color: var(--color-1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   width: 100%;
   background-color: var(--color-1);
}

body {
    width: 100%;
    background-color: var(--color-1);
 }

img {
    /* border-radius: 10px; */
    width:98%;
    /* height: max-content; */
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo su proporción */
    object-position: center;
   
}

.pm-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    width: 100%;
    height: 10vh;
    padding-top: 8.5vh;
    padding-bottom: 8.5vh
}

.pm-header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    letter-spacing: .1vw;
}

/* .pm-header h1:hover {
    transition: color 0.3s ease; Transición suave 
} */

.pm-header p {
    font-family: 'Inter', sans-serif;
    font-size: 1.7vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    margin-top: -1vw;
}

.pm-header a {
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    text-decoration: none;
    padding: 2px;  
    color: var(--color-5); /*color letras nav*/
}

.pm-header ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Muestra los elementos en línea */
    gap: 9vw; /* Espacio entre los elementos */
    justify-content: center;
    color: var(--color-5); 
}

.pm-header ul li {
    display: inline-block; /* Asegura que los elementos estén en línea */
}

main {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: auto auto; */
    gap: .5vw;
    /* padding: 0.5vw; */
    background-color: var(--color-1);
    width: 100%;
}

.pm-reel-container{
    position: relative;
    display: flex;
    justify-items: center;
    margin: 0.7vw 20vw;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-1);
    border-radius: 10px; /*borde de c/ proyecto*/
    overflow: hidden; /*para que no se vea lo que sale del contenedor*/
}

.pm-projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-auto-rows: auto; /* Filas automáticas según el contenido */
    gap: 0px; /* Espaciado entre columnas y filas */
    place-self: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding: 0.5vw; /*espacio entre azul y rojo*/
}

.pm-project {
    width: 46vw;
    height: 26vw;
    max-height: 26vw;
    border: none; /*borde de c/ proyecto*/
    margin:0.4vw; /*espacio entre azul y rojo*/
    position: relative;
    grid-area: auto / auto / auto / auto;
    overflow: hidden; /*para que no se vea lo que sale del contenedor*/
    border-radius: 10px; /*borde redondeado aplicado al contenedor*/
}

.pm-project-image {
    position: absolute; /*posicion de la imagen*/
    width: 100%;
    max-height: 27vw; 
    border-radius: 10px; /*borde de c/ proyecto*/

    box-sizing: border-box; /*ver q onda esto*/
    /* display: flex; */
    align-items: center;
    background: transparent;
    transition: all 0.5s ease;
    object-fit: cover;
}

.pm-project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen al contenedor manteniendo su proporción */
    object-position: center;
    border-radius: 10px; /*borde de c/ proyecto*/
}
.pm-project-image:hover {
    transform: scale(1.1); /*aumenta el tamaño de la imagen al pasar el mouse*/
    transition: transform 0.5s ease-in-out;
}

.pm-project-text { /*texto dentro de proyectos*/
    position:absolute;
    align-items: center;
    justify-self: center;
    display: flex;
    inset: 0;
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--color-5); 
    background: none;
    letter-spacing: .1vw;
    opacity:0;
}

.pm-project {
    opacity: 1;
    transition: opacity 0.1s ease-out;
    
}

.pm-project:hover .pm-project-text {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.pm-project:hover .pm-project-image img {
    filter: brightness(40%);
    transition: filter 0.3s ease-out;
}

a {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 2px;  
    color:var(--color-5) /*color letras nav*/
}

iframe {
    width: 60vw;
    height: 70vh;
    background: none;
}

.pm-main {
    background-color: var(--color-1);
    display: block;
    width: 98vw; /*ancho del container de los proyectos*/
    height: fit-content;
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.pm-subtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8vw;
    color: var(--color-5); /*color letras nav*/
    background-color: var(--color-1); /*color letras nav*/
    text-align: center;
    justify-content: center;
    /* margin-top: 1vw; */
    /* margin-bottom: 1vw; */
}

.pm-pictures-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding-top: 2vw;
}

.pm-pictures-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-auto-rows: auto; /* Filas automáticas según el contenido */
    gap: 2vw; /* Espaciado entre columnas y filas */
    place-self: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding: 0.5vw; /*espacio entre azul y rojo*/
    border-radius: 10px;
}

.pm-project-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: var(--color-1);
}

.pm-project-details {
    background: var(--color-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: var(--color-5); /*color letras nav*/
    text-align: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
    width: 36vw;
    justify-self: end;
}

.pm-project-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.pm-stills-container {
    display: grid;
    grid-template-columns: repeat(3, 2); /* Tres columnas */
    grid-auto-rows: auto; /* Filas automáticas según el contenido */
    gap: 0.5vw; /* Espaciado entre columnas y filas */
    place-self: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding: 0.5vw; /*espacio entre azul y rojo*/
}

.pm-stills-container img {
    border-radius: 10px;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo su proporción */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border: none; 
}

.pm-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding-top: 2vw;
}

.pm-contact-container {
    display: grid;
    grid-auto-rows: auto; /* Filas automáticas según el contenido */
    gap: .1vw; /* Espaciado entre columnas y filas */
    place-self: center;
    background-color: var(--color-1);
    width: 100%;
    height: fit-content;
    padding: 0.5vw; /*espacio entre azul y rojo*/
}

.pm-contact-subtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: var(--color-1);
}

.pm-contact-a {
    background: var(--color-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: var(--color-5); /*color letras nav*/
    text-align: right;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
    width: 36vw;
    justify-self: end;
}

.pm-contact-a a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    text-decoration: none;
    padding: 2px;  
    color: var(--color-5); /*color letras nav*/
}
.pm-contact-a a:hover {
    filter: brightness(1.8); /* Oscurece el enlace al pasar el mouse */
    transition: color 0.3s ease; /* Transición suave */text-shadow: 0px 2px 5px var(--color-3); /* Añade un brillo al enlace */
}

.pm-contact-location {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3vw;
    color: var(--color-5); /*color letras nav*/
    text-align: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: var(--color-1);
}